*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Poppins';
    src: url(/public/fonts/Montserrat-Regular.woff) format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/public/fonts/Montserrat-Medium.woff) format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/public/fonts/Montserrat-SemiBold.woff) format('woff');
    font-weight: 600;
    font-display: swap;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --rozovyy: #f6a6bf;
    --bezhevyy: #faf7f5;
    --belyy: #fff;
    --chernyy: #242424;
    --seryy: #848484;
    --temno-rozovyy: #e36f96;
    --biryuzovyy: #28afc9;
    --zheltyy: #fffef1;
}

body {
    font-family: var(--font-family);
    line-height: 1.4;
    color: var(--chernyy);
    font-weight: 400;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--belyy);
    padding: 18px 35px;
    min-height: 60px;
    border-radius: 100px;
    /* width: 220px; */
    min-height: 60px;
    background: var(--rozovyy);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--rozovyy);
    transition: all 0.3s;
    cursor: pointer;
}

.button:hover {
    color: var(--rozovyy);
    border: 1px solid var(--rozovyy);
    background-color: transparent;
}

.title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 50px;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    width: 100%;

}

.header {
    background: url(../images/clouds.svg) 50% 50% no-repeat;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

}

.header__logo {
    max-width: 187px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo-text {
    font-weight: 500;
    font-size: 16px;
    color: var(--rozovyy);
    display: block;
    margin-top: 5px;
}

.header__contacts {
    font-weight: 600;
    font-size: 13px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__contact-item {
    position: relative;
    padding-left: 30px;
}

.contact-location {
    max-width: 170px;
    width: 100%;
}

.contact-location::before {
    position: absolute;
    content: '';
    top: 15%;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../images/location.svg) 50% 50% no-repeat;
}

.contact-time::before {
    position: absolute;
    content: '';
    top: -4px;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../images/clock.svg) 50% 50% no-repeat;
}

.contact-phone::before {
    position: absolute;
    content: '';
    top: -4px;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../images/call.svg) 50% 50% no-repeat;
}

.header__contact-link {
    padding: 18px 18px 18px 55px;
}

.contact-profile {
    padding: 0;
}

.contact-profile::before {
    position: absolute;
    content: '';
    top: 16px;
    left: 22px;
    width: 25px;
    height: 25px;
    background: url(../images/instagram.svg) 50% 50% no-repeat;
}

.contact-profile:hover::before {
    background: url(../images/instagram-pink.svg) 50% 50% no-repeat;
    ;
}

/* main */
.top {
    background: url(../images/fon-top.svg) 100% 100% no-repeat;
    background-size: auto;
    margin-bottom: 95px;
}

.top__inner {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 30px;

}

.top__nav {
    padding-top: 20px;
}

.top__nav-list {
    justify-items: center;
    background: url(../images/paw.svg) 50% 50% no-repeat;
    min-height: 400px;
    position: relative;
    padding-top: 20px;
    width: 100%;
    max-width: 381px;
    margin: 0 auto;
}

.top__nav-item {
    color: var(--belyy);
    padding: 20px 10px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 97%;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
}

.top__nav-item:hover {
    filter: drop-shadow(2px 4px 6px black);
}

.item-1 {
    position: absolute;
    top: 175px;
    left: 16px;
    width: 65px;
    transform: rotate(-27deg);
}

.item-2 {
    position: absolute;
    top: 45px;
    left: 73px;
    width: 84px;
    transform: rotate(-13deg);
}

.item-3 {
    position: absolute;
    top: 31px;
    left: 190px;
    width: 85px;
    transform: rotate(0deg);
}

.item-4 {
    position: absolute;
    top: 120px;
    left: 284px;
    width: 86px;
    transform: rotate(13deg);
}

.top__nav-big {
    position: absolute;
    top: 55%;
    left: 110px;
    width: 196px;
    transform: rotate(-6deg);
}

.top__nav-small-price {
    font-size: 16px;
}

.top__nav-small-booking {
    font-size: 9px;
}

.top__nav-small-observation {
    font-size: 10px;
}

.top__nav-pay {
    font-size: 17px;
}



.top__nav-all {
    font-weight: 600;
    font-size: 40px;
    line-height: 97%;
}

.booking__title {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 20px;
    padding-top: 68px;
}

.booking__subtitle {
    font-size: 18px;
    margin-bottom: 35px;
}

.booking-form {
    margin-bottom: 55px;
}

.booking-form__input {
    border: none;
    outline: none;
    min-height: 36px;
    border-bottom: 1px solid var(--chernyy);
    padding: 16px 2px;
}

.booking-form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--seryy);
}

.booking-form__button {
    margin-top: 30px;
}

.top__benefits {
    display: flex;
    gap: 60px;
    padding-top: 150px;
}

.top__benefits-item {
    max-width: 365px;
    width: 100%;
    position: relative;
    padding-left: 65px;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.top__benefits-item::before {
    position: absolute;
    content: '';
    top: 15%;
    left: 0;
    width: 45px;
    height: 45px;
    background: url(../images/heart.svg) 50% 50% no-repeat;
}

.price {
    margin-bottom: 200px;
}

.price__heading {
    display: flex;
    gap: 300px;
    align-items: center;
    margin-bottom: 40px;
}


.price__discount-box {
    max-width: 285px;
    width: 100%;
    height: 205px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background: url(../images/border-pink.svg) 50% 50% no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.price__discount-box::before {
    position: absolute;
    content: '';
    top: 14px;
    right: 30px;
    width: 60px;
    height: 60px;
    background: url(../images/cat.svg) 50% 50% no-repeat;
}

.price__discount {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    max-width: 172px;
    width: 100%;
}

.price__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 30px;
}

.price__item {
    padding: 0;
    border: 1px solid rgba(246, 166, 191, 0.5);
    display: grid;
}

.price__image {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
}

.price__item-content {
    padding: 20px 0 30px 20px;
}

.price__head {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 156px auto;
    gap: 28px;
    white-space: pre-line;
}

.price__details {
    display: grid;
    grid-template-columns: 1fr 172px;
    gap: 28px;
}

.price__room-type {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: var(--rozovyy);
}

.price__room-type span {
    display: block;
}

.price__value {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.price__main {
    min-height: 100px;
    display: grid;
    gap: 25px;
    margin-bottom: 25px;
}

.price__detail-value {
    display: block;
}

.price__bottom {
    display: flex;
    justify-content: center;
}

.gallery {
    margin: 40px auto;
    position: relative;
}

.gallery__inner {
    display: flex;
    gap: 30px;
}

.gallery__image-slider {}

.gallery__image-small {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.gallery__image-big {}

.gallery__image-slide {
    max-width: 480px;
    width: 100%;
    height: auto;
}

.gallery__image-count {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--seryy);
    margin-bottom: 60px;
    white-space: nowrap;
}

.gallery__image-start {}

.gallery__image-end {}

.gallery__image-buttons {
    display: flex;
    gap: 10px;
}

.gallery-button-prev,
.gallery-button-next {
    width: 70px;
    height: 70px;
    background-color: var(--rozovyy);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
}

.gallery-button-prev svg,
.gallery-button-next svg {
    stroke: #fff;
    transition: all 0.3s;
}

.gallery-button-prev:hover,
.gallery-button-next:hover {
    background-color: var(--belyy);
    border: 1px solid var(--rozovyy);
}

.gallery-button-prev:hover svg,
.gallery-button-next:hover svg {
    stroke: var(--rozovyy)
}

.description {
    margin-bottom: 140px;
}

.description__conditions {

    gap: 20px;
    padding: 20px;
}

.description__section {
    border-top: 1px solid var(--rozovyy);
    padding: 40px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 18px;
    gap: 30px;
}

.description__section-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    max-width: 370px;
    width: 100%;
    margin-bottom: 40px;
}

.description__section-subtitle {
    max-width: 450px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    color: var(--seryy);
}

.description__section-item {
    max-width: 470px;
    width: 100%;
}

.description__section-box p {
    margin-bottom: 16px;
}

.description__section-item::marker {
    color: var(--rozovyy);
    font-size: 1.5em;
}

.description__section-image {
    max-width: 541px;
    width: 100%;
    height: auto;
}

.order {
    margin-bottom: 130px;
}

.order__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.order__inner-image {
    max-width: 625px;
    width: 100%;
    height: auto;
}

.order-form {
    background: var(--zheltyy);
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.order-form__field {}

.order-form__phone {
    grid-column: 1;
    grid-row: 2;
}

.order-form__input {
    width: 100%;
    padding: 10px 12px;
    border: none;
    border-bottom: 1px solid var(--chernyy);
    font-size: 16px;
    background-color: transparent;
    min-height: 47px;
}

.order-form__input:focus {
    outline: none;
    border-color: var(--rozovyy);
    box-shadow: 0 0 0 2px rgba(255, 105, 180, 0.2);
}

.order-form__input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--seryy);
}

.order-form__input[type="date"] {
    position: relative;
    color: transparent;
    /* Скрываем стандартный текст */
}

#checkin:before {
    content: "Дата заезда";
    position: absolute;
    color: var(--seryy);
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}

#checkout:before {
    content: "Дата выезда";
    position: absolute;
    color: var(--seryy);
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}

.order-form__input[type="date"]:focus:before,
.order-form__input[type="date"]:valid:before {
    display: none;
}

.order-form__input[type="date"]:valid {
    color: inherit;

}

.order-form__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.order-form__note {
    grid-column: 1/3;
    margin-bottom: 70px;
}

.order-form__text {
    min-height: 100px;
    resize: vertical;
}

.order-form__button {
    max-width: 330px;
    width: 100%;
}

.observation {
    margin-bottom: 170px;
}

.observation__head {
    display: flex;
    margin-bottom: 100px;
    gap: 200px;
}

.observation__rooms {
    display: flex;
}

.observation__subtitle {
    max-width: 370px;
}

.observation__rooms {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 36px;
}

.observation__room {
    border-radius: 100%;
    background-color: var(--bezhevyy);
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 40px;
    color: #B65978;
    position: relative;
}

.observation__room::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 70px;
    height: 57px;
    background: url(../images/paw-room.svg) 50% 50% no-repeat;
}

.observation__room:nth-child(1) {
    grid-column: 4;
}

.about {
    margin-bottom: 170px;
}

.about__head {
    display: grid;
    grid-template-columns: 1fr 500px;
    margin-bottom: 60px;
}

.about__title {
    max-width: 200px;
    width: 100%;
}

.about__main {}

.about__wrapper {
    display: grid;
    grid-template-columns: 1fr 500px;
    margin-bottom: 30px
}

.about__heading {
    font-weight: 600;
    font-size: 20px;
    max-width: 370px;
    width: 100%;
    position: relative;
    padding-top: 100px;
}

.about__heading::after {
    content: '';
    position: absolute;
    top: 14px;
    left: -50px;
    width: 417px;
    height: 396px;
    background: url(../images/cat-happy.svg) 50% 50% no-repeat;
}

.about__text p {
    margin-bottom: 16px;
}

.about__info {
    padding-top: 100px;
    margin-bottom: 90px;
}

.about__info-title {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 68px;
}

.about__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    list-style-type: none;
    row-gap: 40px;
}

.about__item {
    font-size: 18px;
    position: relative;
    padding-left: 70px;
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
}

.about__item::before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0;
    width: 50px;
    height: 50px;
    background: url(../images/fluent-cat.svg) 50% 50% no-repeat;
}

.about__item-point {
    display: block;
    font-size: 16px;
    color: var(--seryy);
    margin-top: 12px;
}

.about__important {
    background: var(--zheltyy);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 90px 70px 85px 50px;
    gap: 70px;
}

.about__important-title {
    font-weight: 600;
    font-size: 26px;
    text-transform: uppercase;
    padding-top: 100px;
}

.about__important-text {
    max-width: 472px;
    width: 100%;
}

.about__important-image {
    transform: rotate(-5.27deg);
    max-width: 541px;
    width: 100%;
    height: auto;
}

.questions {
    margin-bottom: 170px;
}

.questions__title {
    margin-bottom: 52px;
}

.questions__list {}

.questions__item {
    background: rgba(250, 247, 245, 0.4);
    padding: 35px 30px 25px 30px;
}

.questions__header {
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 40px;

}

.questions__question {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;

}

.questions__toggle {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
}

.questions__toggle::before,
.questions__toggle::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--rozovyy);
    position: absolute;
    top: 10px;
    left: 2px;
    transition: all 0.8s ease 0s;
}

.questions__toggle::after {
    transform: rotate(90deg);
}

/* .questions__content {
    max-width: 720px;
    display: none;
} */
.questions__content {
  max-width: 720px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 
    max-height 0.5s ease-in-out,
    opacity 0.3s ease 0.2s; 
}

.questions__content.active {
  max-height: 320px;
  opacity: 1;
}


.questions__content p {
    margin-bottom: 16px
}

.cooperation {
    margin-bottom: 100px;
}

.cooperation__inner {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.cooperation__text {
    max-width: 450px;
    width: 100%;
}

.cooperation__title {
    margin-bottom: 70px;
}

.cooperation__subtitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

.cooperation__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.cooperation__link {
    width: 246px;
    height: 246px;
    border-radius: 100%;
    border: 1px solid var(--rozovyy);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.cooperation__link span {
    max-width: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.cooperation__link:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*  */
.contacts {
    background: var(--bezhevyy);
    padding: 80px 0;
}

.contacts__inner {
    display: flex;
    gap: 200px;

}

.contacts__subtitle {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
}

.contacts__link {
    font-weight: 400;
    font-size: 18px;
    color: var(--seryy);
}

.contacts__map {
    margin-bottom: 70px;
}

.contacts__map-image {
    max-width: 1200px;
    width: 100%;
    height: auto;
}

.contacts__route {
    display: flex;
    gap: 80px;
}

.contacts__route-title {
    display: block;
    position: relative;
    max-width: 225px;
    width: 100%;
    font-weight: 600;
    font-size: 26px;
}

.contacts__route-title::after {
    content: '';
    position: absolute;
    top: 50px;
    right: 0;
    width: 195px;
    height: 200px;
    background: url(../images/paw-contacts.svg) 50% 50% no-repeat;
}

.contacts__image-caption {
    max-width: 236px;
    width: 100%;
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.footer__inner {
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: space-between;
    padding: 30px 0;
}

.footer__copy {

    font-weight: 500;
    font-size: 14px;
    color: var(--biryuzovyy);
}

.footer__list {
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
        justify-content: flex-end;
}

@media (max-width: 1280px) {
    .price__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery__image-small {
        display: none;
    }

    .order-form {

        padding: 10px;
        display: block
    }

    .order-form__field {
        margin-bottom: 20px;
    }

    .observation__head {
        gap: 100px;
    }

    .observation__rooms {
        grid-template-columns: repeat(5, 1fr);
    }

    .contacts__route {
        gap: 15px;
         flex-wrap: wrap;
    }
}

@media (max-width: 1000px) {
    .booking__title {
        font-size: 38px;
    }
}

@media (max-width: 900px) {
    .header__inner {
        flex-direction: column;
        align-items: center;
    }

    .header__contacts {
        flex-direction: column;
    }

    .top__inner {
        grid-template-columns: 1fr;
    }

    .top__nav-big {
        padding: 5px 10px;
        top: auto;
        left: 118px;
        bottom: 70px;
    }

    .booking__title {
        padding: 0;
    }

    .observation__subtitle {
        max-width: 100%;
        margin-bottom: 30px
    }

    .observation__rooms {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
    }

    .observation__room:nth-child(1) {
        grid-column: 1;
    }

    .observation__room:nth-child(n+10) {
        display: none;
    }

    .about {
        margin-bottom: 30px
    }

    .about__head {
        display: block;
        margin-bottom: 40px;
    }

    .about__wrapper {
        display: block;

    }

    .about__important {
        padding: 20px 10px 15px 10px;
        gap: 10px;
    }

    .cooperation__links {
        grid-template-columns: auto;
    }

    .cooperation__link {
        width: 100%;
        height: auto;
        min-height: 60px;
        border-radius: 10px;
    }

    .contacts__subtitle {
        margin-bottom: 0px;
    }

    .contacts__link {
        margin-bottom: 20px;
    }

    .contacts__inner {
        gap: 20px;
        flex-wrap: wrap;
    }

    .contacts__map {
        margin-bottom: 30px;
    }
}



@media (max-width: 768px) {
    .title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .top {
        background: none;
    }

    .room-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .header__nav {
        flex-direction: column;
    }

    .top__benefits {
        flex-direction: column;
        padding: 0;
        gap: 10px;
    }

    .price {
        margin-bottom: 50px;
    }

    .price__heading {
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
    }

    .price__discount {
        font-size: 18px;
        font-weight: 400;
    }

    .price__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .price__item-content {
        padding: 15px 15px 30px 15px;
    }

    .price__button {
        width: 100%;
    }

    .gallery__inner {
        display: block;
    }

    .gallery__image-buttons {
        display: none;
    }

    .gallery__image-count {
        font-size: 16px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .description__section-title {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .description__section {
        font-size: 16px;
        padding: 15px 0;
    }

    .description__section-subtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .description__conditions {
        padding: 0;
    }

    .observation {
        margin-bottom: 90px;
    }

    .observation__head {
        display: block;
        margin-bottom: 30px;
    }

    .observation__room {
        width: 110px;
        height: 110px;
    }

    .about__heading {
        padding: 0;
        margin-bottom: 30px;
    }

    .about__subtitle {
        font-weight: 400;
        font-size: 16px;
    }

    .about__heading::after {
        bottom: 0;
        left: 0;
        top: auto;
        width: 300px;
        height: 300px;
        background-size: contain;
    }

    .about__info-title {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 28px;
    }

    .about__list {
        display: block;
    }

    .about__item {
        margin-bottom: 20px;
    }

    .about__info {
        padding: 0;
    }

    .about__important {
        grid-template-columns: auto;
    }

    .about__important-title {
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .about__important-image {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        grid-row: 2;
    }

    .cooperation__inner {
        flex-direction: column;
    }

    .cooperation__text {
        max-width: 700px;
        margin-bottom: 30px;
    }

    .cooperation__link {
        position: relative;
        border: none;
        width: auto;
        padding-left: 100px;
        justify-content: flex-start;
    }

    .cooperation__link::before {
        position: absolute;
        content: '';
        top: 0px;
        left: 0;
        width: 73px;
        height: 60px;
        background: url(../images/paw-room.svg) 50% 50% no-repeat;
        background-size: contain;
    }

    .cooperation__link span {
        margin: 0;
        text-align: left;
        max-width: 100%;
    }

    .cooperation__link:hover {
        box-shadow: none;
        color: #B65978;
    }

    .contacts__route-title {
        font-weight: 400;
        font-size: 18px;

    }
    .footer__list{
            justify-content: flex-start;
    flex-wrap: wrap;
        grid-column: 1/3;
        margin-bottom: 20px;
    }
    .footer__copy{
        grid-column: 1/3;
        grid-row: 2;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .description__section {
        grid-template-columns: 1fr;

        margin: 0;
        gap: 0;
    }

    .description__section-list {
        padding-left: 20px;
    }

    .order__inner {
        display: block;
    }

    .price__head,
    .price__details {
        display: block;
    }

    .observation__room {
        width: 80px;
        height: 80px;
        font-size: 20px;
    }

    .observation__room::after {
        width: 40px;
        height: 33px;
        background-size: contain;
    }
.contacts__route-title::after{
    content: none;
}
}

@media (max-width: 420px) {
    .top__nav-list {
        background-size: contain;
    }

    .top__nav-item {
        font-size: 15px;

        line-height: 81%;
    }

    .item-1 {
        width: 65px;
    }

    .item-2 {
        top: 14%;
        left: 20%;
        width: 68px;
    }

    .item-3 {
        width: 65px;
        top: 9%;
        left: 52%;
    }

    .item-4 {
        top: 144px;
        left: 75%;
        width: 66px;
    }

    .top__nav-small-price {
        font-size: 12px;
    }

    .top__nav-pay {
        font-size: 14px;
    }

    .top__nav-small-observation,
    .top__nav-small-booking {
        word-break: break-word;
    }

    .top__nav-all {
        font-size: 24px;
    }

    .booking__title {
        font-size: 25px;
    }

    .top__nav-big {
        left: 40%;
        bottom: 100px;
        width: 95px;
    }

    .description__section-image {
        grid-row: 1;
    }

    .questions__header {
        gap: 10px;
    }

    .questions__question {
        font-size: 16px;
        font-weight: 500;
    }

    .questions__content p {
        font-size: 13px
    }

    .questions__toggle {
        width: 20px;
        height: 20px;
    }

    .questions__toggle::before,
    .questions__toggle::after {
        content: "";
        width: 20px;
        height: 2px;
        position: absolute;
        top: 10px;
        left: 2px;

    }

    .questions__item {
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 370px) {
    .item-1 {
        left: 2%;
    }

    .item-2 {
        top: 19%;
        left: 18%;
        width: 68px;
    }

    .item-3 {
        width: 65px;
        top: 14%;

        left: 50%;
    }

}