*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Poppins';
    src: url(/public/fonts/Montserrat-Regular.woff) format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/public/fonts/Montserrat-Medium.woff) format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/public/fonts/Montserrat-SemiBold.woff) format('woff');
    font-weight: 600;
    font-display: swap;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --rozovyy: #f6a6bf;
    --bezhevyy: #faf7f5;
    --belyy: #fff;
    --chernyy: #242424;
    --seryy: #848484;
    --temno-rozovyy: #e36f96;
    --biryuzovyy: #28afc9;
    --zheltyy: #fffef1;
}

body {
    font-family: var(--font-family);
    line-height: 1.4;
    color: var(--chernyy);
    font-weight: 400;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--belyy);
    padding: 18px 35px;
    min-height: 60px;
    border-radius: 100px;
    width: 220px;
    height: 60px;
    background: var(--rozovyy);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    background: url(../images/clouds.svg) 50% 50% no-repeat;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    
}

.header__logo {
    max-width: 187px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo-img {}

.header__logo-text {
    font-weight: 500;
    font-size: 16px;
    color: var(--rozovyy);
    display: block;
    margin-top: 5px;
}

.header__contacts {
    font-weight: 600;
    font-size: 13px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__contact-item {
    position: relative;
    padding-left: 30px;
}

.contact-location {
    max-width: 170px;
    width: 100%;
}

.contact-location::before {
    position: absolute;
    content: '';
    top: 15%;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../images/location.svg) 50% 50% no-repeat;
}

.contact-time::before {
    position: absolute;
    content: '';
    top: -4px;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../images/clock.svg) 50% 50% no-repeat;
}

.contact-phone::before {
    position: absolute;
    content: '';
    top: -4px;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../images/call.svg) 50% 50% no-repeat;
}

.header__contact-label {}

.header__contact-value {}

.header__contact-link {
     padding: 18px 18px 18px 55px;
}

.contact-profile {
 padding: 0;
}

.contact-profile ::before {
    position: absolute;
    content: '';
    top: 16px;
    left: 22px;
    width: 25px;
    height: 25px;
    background: url(../images/instagram.svg) 50% 50% no-repeat;
}

/* main */
.top {
    /* background: url(../images/clouds.svg) 100% 0% no-repeat, url(../images/fon-top.svg) 100% 100% no-repeat; */
    background: url(../images/fon-top.svg) 100% 100% no-repeat;
    background-size: auto;
}

.container {
   
}

.top__inner {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 30px;
      
}

.top__nav {
    position: relative;
    padding-top: 20px;
}

.top__nav-list {
    justify-items: center;
     background: url(../images/paw.svg) 50% 50% no-repeat;
        min-height: 400px;
}

.top__nav-item {
    color: var(--belyy);
    padding: 20px 10px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 97%;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-1{
    position: absolute;
    top: 184px;
    left: 27px;
    width: 65px;
    transform: rotate(-27deg);
}
.item-2{
     position: absolute;
     top: 65px;
    left: 83px;
    width: 84px;
    transform: rotate(-13deg);
}
.item-3{
    position: absolute;
    top: 54px;
    left: 200px;
    width: 85px;
    transform: rotate(0deg);
}
.item-4{
    position: absolute;
    top: 150px;
    left: 292px;
    width: 86px;
    transform: rotate(13deg);
}
.top__nav-link {
}

.top__nav-small-price {
    font-size: 16px;
}

.top__nav-small-booking {
    font-size: 9px;
}

.top__nav-small-observation {
    font-size: 10px;
}

.top__nav-pay {
    font-size: 17px;
}

.top__nav-big {
    position: absolute;
    bottom: 170px;
    left: 120px;
    width: 196px;
    transform: rotate(-6deg);
}

.top__nav-all {
    font-weight: 600;
    font-size: 40px;
    line-height: 97%;


}

.booking {}

.booking__content {}

.booking__title {
    font-weight: 600;
    font-size: 48px;
 margin-bottom: 20px;
 padding-top: 68px;
}

.booking__subtitle {
    font-size: 18px;
    margin-bottom: 35px;
}

.booking-form {
    margin-bottom: 55px;
}

.booking-form__group {
  
}

.booking-form__label {}

.booking-form__input {
    border: none;
    outline: none;
    min-height: 36px;
    border-bottom: 1px solid var(--chernyy);
    padding: 16px 2px;
}

.booking-form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--seryy);
}

.booking-form__button {
    margin-top: 30px;
}

.top__benefits{
    display: flex;
    gap: 60px;
    padding-top: 150px;
}
.top__benefits-item{
    max-width: 365px;
    width: 100%;
    position: relative;
    padding-left: 65px;
}
.top__benefits-item::before{
    position: absolute;
    content: '';
    top: 15%;
    left: 0;
    width: 45px;
    height: 45px;
    background: url(../images/heart.svg) 50% 50% no-repeat;
}