*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Poppins';
    src: url(/public/fonts/Montserrat-Regular.woff) format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/public/fonts/Montserrat-Medium.woff) format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/public/fonts/Montserrat-SemiBold.woff) format('woff');
    font-weight: 600;
    font-display: swap;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --rozovyy: #f6a6bf;
    --bezhevyy: #faf7f5;
    --belyy: #fff;
    --chernyy: #242424;
    --seryy: #848484;
    --temno-rozovyy: #e36f96;
    --biryuzovyy: #28afc9;
    --zheltyy: #fffef1;
}

body {
    font-family: var(--font-family);
    line-height: 1.4;
    color: var(--chernyy);
    font-weight: 400;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--belyy);
    padding: 18px 35px;
    min-height: 60px;
    border-radius: 100px;
    /* width: 220px; */
    min-height: 60px;
    background: var(--rozovyy);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--rozovyy);
    transition: all 0.3s;
    cursor: pointer;
}

.button:hover {
    color: var(--rozovyy);
    border: 1px solid var(--rozovyy);
    background-color: transparent;
}

.title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 50px;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    width: 100%;
   
}

.header {
    background: url(../images/clouds.svg) 50% 50% no-repeat;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

}

.header__logo {
    max-width: 187px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo-text {
    font-weight: 500;
    font-size: 16px;
    color: var(--rozovyy);
    display: block;
    margin-top: 5px;
}

.header__contacts {
    font-weight: 600;
    font-size: 13px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__contact-item {
    position: relative;
    padding-left: 30px;
}

.contact-location {
    max-width: 170px;
    width: 100%;
}

.contact-location::before {
    position: absolute;
    content: '';
    top: 15%;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../images/location.svg) 50% 50% no-repeat;
}

.contact-time::before {
    position: absolute;
    content: '';
    top: -4px;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../images/clock.svg) 50% 50% no-repeat;
}

.contact-phone::before {
    position: absolute;
    content: '';
    top: -4px;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../images/call.svg) 50% 50% no-repeat;
}

.header__contact-link {
    padding: 18px 18px 18px 55px;
}

.contact-profile {
    padding: 0;
}

.contact-profile::before {
    position: absolute;
    content: '';
    top: 16px;
    left: 22px;
    width: 25px;
    height: 25px;
    background: url(../images/instagram.svg) 50% 50% no-repeat;
}

.contact-profile:hover::before {
    background: url(../images/instagram-pink.svg) 50% 50% no-repeat;
    ;
}

/* main */
.top {
    background: url(../images/fon-top.svg) 100% 100% no-repeat;
    background-size: auto;
    margin-bottom: 95px;
}

.top__inner {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 30px;

}

.top__nav {
    position: relative;
    padding-top: 20px;
}

.top__nav-list {
    justify-items: center;
    background: url(../images/paw.svg) 50% 50% no-repeat;
    min-height: 400px;
}

.top__nav-item {
    color: var(--belyy);
    padding: 20px 10px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 97%;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-1 {
    position: absolute;
    top: 184px;
    left: 27px;
    width: 65px;
    transform: rotate(-27deg);
}

.item-2 {
    position: absolute;
    top: 65px;
    left: 83px;
    width: 84px;
    transform: rotate(-13deg);
}

.item-3 {
    position: absolute;
    top: 54px;
    left: 200px;
    width: 85px;
    transform: rotate(0deg);
}

.item-4 {
    position: absolute;
    top: 150px;
    left: 292px;
    width: 86px;
    transform: rotate(13deg);
}

.top__nav-link {}

.top__nav-small-price {
    font-size: 16px;
}

.top__nav-small-booking {
    font-size: 9px;
}

.top__nav-small-observation {
    font-size: 10px;
}

.top__nav-pay {
    font-size: 17px;
}

.top__nav-big {
    position: absolute;
    bottom: 170px;
    left: 120px;
    width: 196px;
    transform: rotate(-6deg);
}

.top__nav-all {
    font-weight: 600;
    font-size: 40px;
    line-height: 97%;
}

.booking__title {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 20px;
    padding-top: 68px;
}

.booking__subtitle {
    font-size: 18px;
    margin-bottom: 35px;
}

.booking-form {
    margin-bottom: 55px;
}

.booking-form__input {
    border: none;
    outline: none;
    min-height: 36px;
    border-bottom: 1px solid var(--chernyy);
    padding: 16px 2px;
}

.booking-form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--seryy);
}

.booking-form__button {
    margin-top: 30px;
}

.top__benefits {
    display: flex;
    gap: 60px;
    padding-top: 150px;
}

.top__benefits-item {
    max-width: 365px;
    width: 100%;
    position: relative;
    padding-left: 65px;
}

.top__benefits-item::before {
    position: absolute;
    content: '';
    top: 15%;
    left: 0;
    width: 45px;
    height: 45px;
    background: url(../images/heart.svg) 50% 50% no-repeat;
}

.price {
    margin-bottom: 200px;
}

.price__heading {
    display: flex;
    gap: 300px;
    align-items: center;
    margin-bottom: 40px;
}


.price__discount-box {
    width: 285px;
    height: 205px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background: url(../images/border-pink.svg) 50% 50% no-repeat;
    background-size: contain;
}

.price__discount-box::before {
    position: absolute;
    content: '';
    top: 14px;
    right: 30px;
    width: 60px;
    height: 60px;
    background: url(../images/cat.svg) 50% 50% no-repeat;
}

.price__discount {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    max-width: 172px;
    width: 100%;
}

.price__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 30px;
}

.price__item {
    padding: 0;
}

.price__image {
    margin-bottom: 20px;
}

.price__head {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 156px auto;
    gap: 28px;
    white-space: pre-line;
}

.price__details {
    display: grid;
    grid-template-columns: 1fr 172px;
    gap: 28px;
}

.price__room-type {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: var(--rozovyy);
}

.price__room-type span {
    display: block;
}

.price__value {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.price__main {
    min-height: 100px;
    display: grid;
    gap: 25px;
    margin-bottom: 25px;
}

.price__detail-value {
    display: block;
}

.price__bottom {
    display: flex;
    justify-content: center;
}

.gallery {
    margin: 40px auto;
}

.gallery__inner {
    display: flex;
    gap: 30px;
}

.gallery__image-slider {}

.gallery__image-small {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.gallery__image-big {}

.gallery__image-count {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--seryy);
    margin-bottom: 60px;
}

.gallery__image-start {}

.gallery__image-end {}

.gallery__image-buttons {
    display: flex;
    gap: 10px;
}

.gallery-button-prev,
.gallery-button-next {
    width: 70px;
    height: 70px;
    background-color: var(--rozovyy);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
}

.gallery-button-prev svg,
.gallery-button-next svg {
    stroke: #fff;
    transition: all 0.3s;
}

.gallery-button-prev:hover,
.gallery-button-next:hover {
    background-color: var(--belyy);
    border: 1px solid var(--rozovyy);
}

.gallery-button-prev:hover svg,
.gallery-button-next:hover svg {
    stroke: var(--rozovyy)
}

.description {
    margin-bottom: 140px;
}

.description__conditions {

    gap: 20px;
    padding: 20px;
}

.description__section {
    border-top: 1px solid var(--rozovyy);
    padding: 40px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 18px;
}

.description__section-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    max-width: 370px;
    width: 100%;
    margin-bottom: 40px;
}

.description__section-subtitle {
    max-width: 450px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    color: var(--seryy);
}

.description__section-item {
    max-width: 470px;
    width: 100%;
}

.description__section-item::marker {
    color: var(--rozovyy);
    font-size: 1.5em;
}

.order {
    margin-bottom: 130px;
}

.order__inner {
    display: flex;

}

.order-form {
    background: var(--zheltyy);
    padding: 50px;
}

.order-form__group {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;

}

.order-form__field {
    flex: 1;
}

.order-form__input {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid var(--chernyy);
    font-size: 16px;
    background-color: transparent;
}

.order-form__input:focus {
    outline: none;
    border-color: var(--rozovyy);
    box-shadow: 0 0 0 2px rgba(255, 105, 180, 0.2);
}

.order-form__input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--seryy);
}

.order-form__input[type="date"] {
    position: relative;
    color: transparent;
    /* Скрываем стандартный текст */
}

#checkin:before {
    content: "Дата заезда";
    position: absolute;
    color: var(--seryy);
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}

#checkout:before {
    content: "Дата выезда";
    position: absolute;
    color: var(--seryy);
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}

.order-form__input[type="date"]:focus:before,
.order-form__input[type="date"]:valid:before {
    display: none;
    /* Скрываем плейсхолдер при фокусе или выборе даты */
}

.order-form__input[type="date"]:valid {
    color: inherit;
    /* Возвращаем цвет текста после выбора даты */
}

.order-form__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.order-form__note {
    grid-column: 1/3;
    margin-bottom: 70px;
}

.order-form__text {
    min-height: 100px;
    resize: vertical;
}

.order-form__button {
    max-width: 330px;
    width: 100%;
}

.observation {
    margin-bottom: 170px;
}

.observation__head {
    display: flex;
    margin-bottom: 100px;
    gap: 200px;
}

.observation__rooms {
    display: flex;
}

.observation__subtitle {
    max-width: 370px;
}

.observation__rooms {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 36px;
}

.observation__room {
    border-radius: 100%;
    background-color: var(--bezhevyy);
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 40px;
    color: #B65978;
    position: relative;
}

.observation__room::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 70px;
    height: 57px;
    background: url(../images/paw-room.svg) 50% 50% no-repeat;
}

.observation__room:nth-child(1) {
    grid-column: 4;
}

.about {
    margin-bottom: 170px;
}

.about__head {
    display: grid;
    grid-template-columns: 1fr 500px;
    margin-bottom: 60px;
}

.about__title {
    max-width: 200px;
    width: 100%;
}

.about__main {}

.about__wrapper {
    display: grid;
    grid-template-columns: 1fr 500px;
    margin-bottom: 30px
}

.about__heading {
    font-weight: 600;
    font-size: 20px;
    max-width: 370px;
    width: 100%;
    position: relative;
    padding-top: 100px;
}

.about__heading::after {
    content: '';
    position: absolute;
    top: 14px;
    left: -50px;
    width: 417px;
    height: 396px;
    background: url(../images/cat-happy.svg) 50% 50% no-repeat;
}

.about__text p {
    margin-bottom: 16px;
}

.about__info {
    padding-top: 100px;
    margin-bottom: 90px;
}

.about__info-title {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 68px;
}

.about__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    list-style-type: none;
    row-gap: 40px;
}

.about__item {
    font-size: 18px;
    position: relative;
    padding-left: 70px;
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
}

.about__item::before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0;
    width: 50px;
    height: 50px;
    background: url(../images/fluent-cat.svg) 50% 50% no-repeat;
}

.about__item-point {
    display: block;
    font-size: 16px;
    color: var(--seryy);
    margin-top: 12px;
}

.about__important {
    background: var(--zheltyy);
    display: flex;
    padding: 90px 70px 85px 50px;
    gap: 70px;
}

.about__important-title {
    font-weight: 600;
    font-size: 26px;
    text-transform: uppercase;
    padding-top: 100px;
}

.about__important-text {
    max-width: 472px;
    width: 100%;
}

.about__important-image {
    transform: rotate(-5.27deg);
}

.questions {
    margin-bottom: 170px;
}

.questions__title {
    margin-bottom: 52px;
}

.questions__list {}

.questions__item {
    background: rgba(250, 247, 245, 0.4);
    padding: 35px 30px 25px 30px;
}

.questions__header {
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 40px;

}

.questions__question {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;

}

.questions__toggle {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
}

.questions__toggle::before,
.questions__toggle::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--rozovyy);
    position: absolute;
    top: 10px;
    left: 2px;
    transition: all 0.8s ease 0s;
}

.questions__toggle::after {
    transform: rotate(90deg);
}

.questions__content {
    max-width: 720px;
}

.questions__content p {
    margin-bottom: 16px
}

.cooperation {
    margin-bottom: 100px;
}

.cooperation__inner {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.cooperation__text {
    max-width: 450px;
    width: 100%;
}

.cooperation__title {
    margin-bottom: 70px;
}

.cooperation__subtitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

.cooperation__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.cooperation__button {
    width: 246px;
    height: 246px;
    border-radius: 100%;
    border: 1px solid var(--rozovyy);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.cooperation__button span {
    max-width: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}
.cooperation__button:hover{
 transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/*  */
.contacts {
    background: var(--bezhevyy);
    padding: 80px 0;
}
.contacts__inner{
    display: flex;
    gap: 200px;
}
.contacts__subtitle{
    font-weight: 500;
font-size: 20px;
 margin-bottom: 50px;
}

.contacts__link {
    font-weight: 400;
    font-size: 18px;
    color: var(--seryy);
}

.contacts__map {
    margin-bottom: 70px;
}

.contacts__route {
    display: flex;
    gap: 80px;
}

.contacts__route-title {
    display: block;
    position: relative;
    max-width: 225px;
    width: 100%;
    font-weight: 600;
    font-size: 26px;

}

.contacts__route-title::after {
    content: '';
    position: absolute;
    top: 50px;
    right: 0;
    width: 195px;
    height: 200px;
    background: url(../images/paw-contacts.svg) 50% 50% no-repeat;
}

.contacts__image-caption {
    max-width: 236px;
    width: 100%;
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}


.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.footer__copy {

    font-weight: 500;
    font-size: 14px;
    color: var(--biryuzovyy);
}

.footer__list {
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
}